html, body {
  background: url("../images/backgroud_image2.jpeg") no-repeat center center fixed;
  /*background-color: black;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  height: 100vh;
}

.container {
  height: 100%;
}

/*FOR PADDING*/
.search-row,
.soundcloud-row,
.youtube-row {
  padding: 1em 0;
}

.search {
  opacity: .7;
  background-color: rgba(230, 230, 230, 0.5);
}
#logo {
  height: 2.2em;
  position: relative;
  top: -8px;
}

nav {
    opacity: 0.7;
}

nav:hover {
    opacity: 1.0;
}

.logo-image{
  position: absolute;
  text-align: center;
  padding: 1px
  margin-right: 5px
}
.background-thing{
  background-color: rgba(230, 230, 230, 0.7);
}

.landing-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.splash-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.splash {
  display: flex;
  justify-content: center;
}

#logreg-container{
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(230, 230, 230, 0.7);
}
