html, body {
  background: url("../images/background_img.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

/*FOR PADDING*/
.search-row,
.soundcloud-row,
.youtube-row {
  padding: 1em 0;
}

/*.form-inline .input-group {
  display: table;
}
@media (min-width: 768px) {
  .form-inline .input-group .form-control, {
    display: table-cell;
    width: 100% !important;
  }

}*/
/*.form-inline{
  width: 490px;
  display: block;
  margin: 0 auto;
}*/

/*input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }*/


#logo {
  height: 2.2em;
  position: relative;
  top: -8px;
}

nav {
    opacity: 0.6;
}

nav:hover {
    opacity: 1.0;
}

/*#searchbar {
  max-width: ;
  flex: auto;
}*/

.page-container {

}
