html, body {
  background: url("../images/background_img.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

/*FOR PADDING*/
.search-row,
.soundcloud-row,
.youtube-row {
  padding: 1em 0;
}

.search {
  opacity: .6;
  background-color: rgba(230, 230, 230, 0.5);
}
#logo {
  height: 2.2em;
  position: relative;
  top: -8px;
}

nav {
    opacity: 0.8;
}

nav:hover {
    opacity: 1.0;
}

.logo-image{
  position: absolute;
  text-align: center;
  padding: 1px
  margin-right: 5px
}
.background-thing{
  background-color: rgba(230, 230, 230, 0.3);
}
