<h3>Current Queue</h3>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Artist</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Famous</td>
      <td>Kanye West</td>
      <td>Youtube</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Halo</td>
      <td>Beyonce</td>
      <td>Spotify</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1Night</td>
      <td>Lil Yachty</td>
      <td><a href="https://soundcloud.com/770rd/yachty-1night-prod-thegoodperry">soundcloud</a>
      </td>
    </tr>
  </tbody>
</table>
