<div class="page-container">
  <div class="row search-row">
    <form method="POST">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
	{{#each soundcloud}}
    <div class="row soundcloud-row">

      <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/
      {{this.id}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;
      visual=true" style="display: block; float: left"></iframe>
    </div>
	{{/each}}
  {{#each youtube}}
    <div class="row youtube-row">

      <iframe id="ytplayer" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/{{this.id.videoId}}?autoplay=1&origin=http://example.com"
      frameborder="0"></iframe>
    </div>
  {{/each}}

  {{#each spotify}}
  <iframe src="https://embed.spotify.com/?uri=spotify:track:{{this.id}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  {{/each}}

</div>
