<form class="form-inline">
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" placeholder="Enter your search">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div></div>

<!-- <script>
$('.submit-button').click(function(e) {
	$.ajax({
		method: "GET",
		url: "https://api.soundcloud.com/tracks?client_id=" + process.env.CLIENT_ID,
		data: {
			title: $("searchbar").val(),
		},
		sucesss: function(e) {
			var e = JSON.parse(e);

		}

	})
})

</script> -->
