<!-- <script src="jquery.js"></script>
<script src="typed.js"></script>
<script>
  $(function(){
      $(".element").typed({
        strings: ["All your music", "in one place"],
        typeSpeed: 2
      });
  });
</script>

<div class="element">
  <div class="container well">

  <div class="row">

    </div>
  </div>

  <div class="row">
    <div class="animated fadeInUp">
      <ul>
        <span>
           <button class="btn btn-danger col-lrg-4"><a href="/register">Register</a></button>
          <button class="btn col-lrg-4" ><a href="/register">Login</a></button>
          <button class="btn col-lrg-4"><a href="/browse">Browse</a></button>
        </span>


      </ul>
    </div>
  </div>

  </div> -->
<div class="splash-container">

  <div class="splash">

    <div class="row ">
      <img src="../images/LOGO.png" style="max-width: 10%; position: absolute"/>
      <br />
      <h1>Every Song,<br />
      One Spot. </h1>
      <div class="land-buttons" style="display:flex; align">
      <button class="btn btn-danger col-lrg-4"><a href="/register">Register</a></button>
      <button class="btn col-lrg-4" ><a href="/register">Login</a></button>
      <button class="btn col-lrg-4"><a href="/browse">Browse</a></button>
      </div>
    </div>

  </div>

</div>
