<div class="animated fadeInLeft">
  <p>
     All your music...
  </p>
</div>

<div class="animated fadeInRight">
  <p>
    ...at your fingertips
  </p>
</div>
<div class="animated fadeInUp">
  <ul>
    <button class="btn btn-danger">Register</button>
    <button class="btn">Login</button>
    <button class="btn">Browse</button>
  </ul>
</div>
